.main-container{
}

.header-info{
    display: flex;
    width: 100%;
    border-radius: 8px;
    background-color: white;
    margin-top: 20px;

    .val-resgate{
        display: flex;
        border: none;
        align-items: center;
    }

    div{
        display: flex;
        width: 100%;
        height: auto;
        align-items: center;
        border-left: 1px solid;
        padding: 1rem;

        div{
            border: none;
            flex-direction: column;
        }
    }

    table{
        width: 100%;
        td{
            text-align: center;
            padding: .8rem;

            input{
                padding: .8rem;
                border: 1px solid #cecece;
                border-radius: .8rem;
                width: 20rem;
            }

            .resgate-input{
                align-items: center;
                display: flex;
                justify-content: center;
                flex-direction: column;
                border: none;

                span{
                    color: red
                }
            }
        }
    }
}

.first-card{
    border: none !important;
}

.btn-container{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    
    button{
        margin-left:10px;
    }
}