<div class="main-container">
    <h2>Dados do Investimento</h2>
    <div class="header-info mat-elevation-z8">
        <div class="first-card">
            <mat-icon> person </mat-icon>
            <div>
                <span>Nome</span>
                <span>{{financeDetail.nome}}</span>
            </div>
        </div>
        <div>
            <mat-icon> show_chart</mat-icon>
            <div>
                <span>Objetivo</span>
                <span>{{financeDetail.objetivo}}</span>
            </div>
        </div>
        <div>
            <mat-icon> attach_money</mat-icon>
            <div>
                <span>Saldo</span>
                <span>{{saldoTotal | currency:'BRL'}}</span>
            </div>
        </div>
    </div>
</div>

<div class="main-container">
    <h2>Resgate</h2>
    <div class="header-info mat-elevation-z8">
        <table>
            <tr>
              <th>Ação</th>
              <th>Saldo Acumulado</th>
              <th>Valor a Resgatar</th>
            </tr>
            <tr *ngFor="let acao of financeDetail.acoes;">
              <td> {{acao.nome}} </td>
              <td> {{acao.calculoPercentual  | currency:'BRL'}} </td>
              <td>
                  <div  class="resgate-input">
                    <input ui-money-mask type="number"  (input)="verificarValor($event.target.value, acao)"  placeholder="Digite Quanto Quer Resgatar"> 
                    <span
                        *ngIf="acao.valResgate > (financeDetail.saldoTotal / 100) * acao.percentual"
                    >O valor a resgatar não pode ser maior que {{(financeDetail.saldoTotal / 100) * acao.percentual  | currency:'BRL'}} </span>
                  </div>
              </td>
            </tr>
          </table>
    </div>
</div>


<div class="header-info mat-elevation-z8">
    <div class="val-resgate">
        <h3>Valor Total do Resgate : {{totalResgate  | currency:'BRL'}} </h3>
    </div>
</div>

<div class="btn-container">
    <button mat-stroked-button (click)="voltar()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="confirm()" >Confirmar o Resgate</button>
</div>
